@import '~bootstrap/scss/bootstrap';

.signBoxes {
  display: flex;
  justify-content: center;
  padding: 100px 120px;
  margin-top: 130px;
  background-color: #fafafa;
  box-shadow: 7px 7px 7px lightgrey;
}

nav {
  background-color: grey;
  margin: auto;
  position: fixed;
  height: 60px;
  width: 100%;
  color: white;
  margin-top: -16px;
}

.navBar {
  margin-top: 0;
}

.navBarSignOut {
  margin-top: -16px;
}

#header {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.space {
  margin-bottom: 5px;
}

#signOut {
  float: right;
  margin-top: -80px;
  margin-right: 52px;
}
